- name: Check if ~/.config/nvim exists
  ansible.builtin.stat:
    path: "{{ config_user_home }}/.config/nvim"
  register: nvimdir

- name: Check if ~/.config/nvim is under version
  ansible.builtin.stat:
    path: "{{ config_user_home }}/.config/nvim/.git"
  register: nvimgitdir
  when: nvimdir.stat.exists

- name: Clone/update ~/.config/nvim
  ansible.builtin.git:
    repo: "{{ config_user_repos }}/nvim.git"
    dest: "{{ config_user_home }}/.config/nvim"
    version: "main"
    recursive: true
  when: not nvimdir.stat.exists or nvimgitdir.stat.exists
